- choice_style = "font-size: 0.8rem"
.mx-3
  .row.text-dark.m-0.p-0
    .col.text-left.m-0.p-0
      - unless @recipe_detail.user_id.nil?
        %span.badge.badge-pill.badge-secondary.mb-1
          = "オリジナル by #{@recipe_detail.user.name}" 
    .col.text-right.m-0.p-0
      - if @excellent_count != 0
        .balloon4.small.text-center
          = "#{@excellent_count} Excellent!!"
  
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3
    %h4
      = @recipe_detail.name

  - if @current_user.nil?
    %form.input-group.my-3{:method => "get", :action => "/orders/create/#{@recipe_detail.id}"}
      %input.form-control{:type => "text", :placeholder => "your name", :name => "name_entered", :aria-describedby => "order", :style => "border-color: #DDDDDD	; box-shadow: none;"}
      .input-group-append
        %button.btn.btn-secondary#order{:type => "submit"}
          <i class="fas fa-cocktail"></i> 注文する
  
  - else
    - unless @assessment.nil?
      %a.btn.text-white.btn-secondary.btn-block.btn-sm
        飲んだ<i class="fas fa-wine-bottle"></i>
    - else
      %form{:name => "form_1", :method => "post", :action => "/reviews/create"}
        %input{:type => "hidden", :name => "user_id", :value => "#{@current_user.id}"}
        %input{:type => "hidden", :name => "recipe_id", :value => "#{@recipe_detail.id}"}
        %input{:type => "hidden", :name => "assessment", :value => 1}
        %a.btn.btn-light.btn-block.btn-sm{:href => "javascript:form_1.submit()"}
          飲んだ<i class="fas fa-glass-cheers"></i>に登録
    
    %ul.nav.nav-pills.nav-fill.mt-1
      - @assessments.each do |assessment|
        %li.nav-item
          - if @assessment == assessment.id
            %a.nav-link.text-white.bg-secondary.active.p-1 
              = assessment.name
          - else
            %form{:name => "form_#{assessment.id}", :method => "post", :action => "/reviews/create"}
              %input{:type => "hidden", :name => "user_id", :value => "#{@current_user.id}"}
              %input{:type => "hidden", :name => "recipe_id", :value => "#{@recipe_detail.id}"}
              %input{:type => "hidden", :name => "assessment", :value => assessment.id}
              %a.nav-link.text-dark.bg-light.p-1.mx-1{:href => "javascript:form_#{assessment.id}.submit()"}
                = assessment.name

    %form.input-group.my-3{:method => "get", :action => "/orders/create/#{@recipe_detail.id}"}
      %input{:type => "hidden", :name => "name_entered", :value => "#{@current_user.name}"}
      %input{:type => "hidden", :name => "user_id", :value => "#{@current_user.id}"}
      %button.btn.btn-secondary.btn-block{:type => "submit"}
        <i class="fas fa-cocktail"></i> 注文する

  %table.table.m-0
    %tr
      %th スタイル
      %th
        = @recipe_detail.style.name
    %tr
      %th 技法
      %th
        = @recipe_detail.tech.name
    %tr
      %th アルコール
      %th
        = @recipe_detail.alcohol.name
  %hr.mt-0

  %p.font-weight-bold.mb-1 材料
  %hr.mt-0
  - @materials.each do |m|
    %a.list-group-item{href: "/materials/detail/#{m[:id]}"}
      .container.m-0.p-0
        - if m[:have_flag]
          .row.m-0.p-0
            .col.text-left.m-0.p-0
              - if m[:alcohol_flag]
                %i.fa.fa-wine-glass-alt.text-dark
              %span.text-dark.font-weight-bold
                = m[:name]
          .row.m-0.p-0
            .col.text-left.m-0.p-0
              %span.text-dark
                = m[:amount]
            - if m[:option_flag]
              .col.text-right.m-0.p-0
                %span.text-muted オプション
        - else
          .row.m-0.p-0
            .col.text-left.m-0.p-0
              - if m[:alcohol_flag]
                %i.fa.fa-wine-glass-alt.text-muted
              %span.text-muted
                = m[:name]
          .row.m-0.p-0
            .col.text-left.m-0.p-0
              %span.text-muted
                = m[:amount]
            - if m[:option_flag]
              .col.text-right.m-0.p-0
                %span.text-muted オプション

:css
  .balloon4 {
    position: relative;
    margin: 0 0 5px 40px;
    padding: 0 5px 0 5px;
    background: #dcdcdc;
    border-radius: 30px;
  }

  .balloon4:before {  
    content: "";
    position: absolute;
    left: -19px;
    width: 7px;
    height: 6px;
    bottom: -5px;
    background: #dcdcdc;
    border-radius: 50%;
  }

  .balloon4:after {
    content: "";
    position: absolute;
    left: -12px;
    width: 10px;
    height: 9px;
    bottom: -2px;
    background: #dcdcdc;
    border-radius: 50%;
  }