- choice_style = "font-size: 0.8rem"
.m-3
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light.my-3
    %h4
      = @recipe_detail.name

  %table.table.m-0
    %tr
      %th スタイル
      %th
        = @recipe_detail.style.name
    %tr
      %th 技法
      %th
        = @recipe_detail.tech.name
    %tr
      %th アルコール
      %th
        = @recipe_detail.alcohol.name
  %hr.mt-0

  %p.font-weight-bold.mb-1 材料
  %hr.mt-0
  - @materials.each do |m|
    %a.list-group-item{href: "/materials/detail/#{m[:id]}"}
      .container.m-0.p-0
        - if m[:have_flag]
          .row.m-0.p-0
            .col.text-left.m-0.p-0
              - if m[:alcohol_flag]
                %i.fa.fa-wine-glass-alt.text-dark
              %span.text-dark.font-weight-bold
                = m[:name]
          .row.m-0.p-0
            .col.text-left.m-0.p-0
              %span.text-dark
                = m[:amount]
            - if m[:option_flag]
              .col.text-right.m-0.p-0
                %span.text-muted オプション
        - else
          .row.m-0.p-0
            .col.text-left.m-0.p-0
              - if m[:alcohol_flag]
                %i.fa.fa-wine-glass-alt.text-muted
              %span.text-muted
                = m[:name]
          .row.m-0.p-0
            .col.text-left.m-0.p-0
              %span.text-muted
                = m[:amount]
            - if m[:option_flag]
              .col.text-right.m-0.p-0
                %span.text-muted オプション

  - if @current_user.nil?
    %form.input-group.mt-3{:method => "get", :action => "/orders/create/#{@recipe_detail.id}"}
      %input.form-control{:type => "text", :placeholder => "your name", :name => "name_entered", :aria-describedby => "order", :style => "border-color: #DDDDDD	; box-shadow: none;"}
      .input-group-append
        %button.btn.btn-secondary#order{:type => "submit"}
          <i class="fas fa-cocktail"></i> 注文する
  
  - else
    %form.input-group.mt-3{:method => "get", :action => "/orders/create/#{@recipe_detail.id}"}
      %input{:type => "hidden", :name => "name_entered", :value => "#{@current_user.name}"}
      %input{:type => "hidden", :name => "user_id", :value => "#{@current_user.id}"}
      %button.btn.btn-secondary.btn-block{:type => "submit"}
        <i class="fas fa-cocktail"></i> 注文する
    
    %ul.nav.nav-pills.nav-fill.my-3
      - @assessments.each do |assessment|
        %li.nav-item
          - if @assessment == assessment.id
            %a.nav-link.text-white.bg-secondary.active.p-1 
              = assessment.name
          - else
            %form{:name => "form_#{assessment.id}", :method => "post", :action => "/reviews/create"}
              %input{:type => "hidden", :name => "user_id", :value => "#{@current_user.id}"}
              %input{:type => "hidden", :name => "recipe_id", :value => "#{@recipe_detail.id}"}
              %input{:type => "hidden", :name => "assessment", :value => assessment.id}
              %a.nav-link.text-dark.bg-light.p-1.mx-1{:href => "javascript:form_#{assessment.id}.submit()"}
                = assessment.name