.m-3
  .my-2
    %ul.nav.nav-pills.nav-fill.my-1
      %li.nav-item{style: "font-size: 0.8rem"}
        - if params[:style] == '0'
          %a.nav-link.text-white.bg-secondary.active.p-1 全て
        - else
          %a.nav-link.text-dark.p-1{href: "/recipe/list?style=0&tech=#{params[:tech]}&alcohol=#{params[:alcohol]}"} 全て
      - @styles.each do |style|
        %li.nav-item{style: "font-size: 0.8rem"}
          - if params[:style] == style.id.to_s
            %a.nav-link.text-white.bg-secondary.active.p-1
              = style.name
          - else
            %a.nav-link.text-dark.p-1{href: "/recipe/list?style=#{style.id}&tech=#{params[:tech]}&alcohol=#{params[:alcohol]}"}
              = style.name
    
    %ul.nav.nav-pills.nav-fill.my-1
      %li.nav-item{style: "font-size: 0.8rem"}
        - if params[:tech] == '0'
          %a.nav-link.text-white.bg-secondary.active.p-1 全て
        - else
          %a.nav-link.text-dark.p-1{href: "/recipe/list?style=#{params[:style]}&tech=0&alcohol=#{params[:alcohol]}"} 全て
      - @techs.each do |tech|
        %li.nav-item{style: "font-size: 0.8rem"}
          - if params[:tech] == tech.id.to_s
            %a.nav-link.text-white.bg-secondary.active.p-1
              = tech.name
          - else
            %a.nav-link.text-dark.p-1{href: "/recipe/list?style=#{params[:style]}&tech=#{tech.id}&alcohol=#{params[:alcohol]}"}
              = tech.name

    %ul.nav.nav-pills.nav-fill.my-1
      %li.nav-item{style: "font-size: 0.8rem"}
        - if params[:alcohol] == '0'
          %a.nav-link.text-white.bg-secondary.active.p-1 全て
        - else
          %a.nav-link.text-dark.p-1{href: "/recipe/list?style=#{params[:style]}&tech=#{params[:tech]}&alcohol=0"} 全て
      - @alcohols.each do |alcohol|
        %li.nav-item{style: "font-size: 0.8rem"}
          - if params[:alcohol] == alcohol.id.to_s
            %a.nav-link.text-white.bg-secondary.active.p-1
              = alcohol.name
          - else
            %a.nav-link.text-dark.p-1{href: "/recipe/list?style=#{params[:style]}&tech=#{params[:tech]}&alcohol=#{alcohol.id}"}
              = alcohol.name
  
  %ul.list-group.my-3
    %p.list-group-item
      %span.text-dark.font-weight-bold
        カクテル名
      %br
      %span.text-muted.small
        = "スタイル　技法　アルコール"
  %ul.list-group  
    - @recipes.each do |r|
      %a.list-group-item{href: "/recipe/detail/#{r[:id]}"}
        %span.text-dark.font-weight-bold
          = r[:name]
        %br
        %span.text-muted.small
          = "#{r[:style]}　#{r[:tech]}　#{r[:alcohol]}"