.m-3
  .my-2
    %ul.nav.nav-pills.nav-fill.my-1
      %li.nav-item{style: "font-size: 0.8rem"}
        - if params[:style] == '0'
          %a.nav-link.text-white.bg-secondary.active.p-1 全て
        - else
          %a.nav-link.text-dark.p-1{href: "/recipe/list?style=0&tech=#{params[:tech]}&alcohol=#{params[:alcohol]}&material_mode=#{params[:material_mode]}&choice_materials=#{@choice_materials.join(',')}"} 全て
      - @styles.each do |style|
        %li.nav-item{style: "font-size: 0.8rem"}
          - if params[:style] == style.id.to_s
            %a.nav-link.text-white.bg-secondary.active.p-1
              = style.name
          - else
            %a.nav-link.text-dark.p-1{href: "/recipe/list?style=#{style.id}&tech=#{params[:tech]}&alcohol=#{params[:alcohol]}&material_mode=#{params[:material_mode]}&choice_materials=#{@choice_materials.join(',')}"}
              = style.name
    
    %ul.nav.nav-pills.nav-fill.my-1
      %li.nav-item{style: "font-size: 0.8rem"}
        - if params[:tech] == '0'
          %a.nav-link.text-white.bg-secondary.active.p-1 全て
        - else
          %a.nav-link.text-dark.p-1{href: "/recipe/list?style=#{params[:style]}&tech=0&alcohol=#{params[:alcohol]}&material_mode=#{params[:material_mode]}&choice_materials=#{@choice_materials.join(',')}"} 全て
      - @techs.each do |tech|
        %li.nav-item{style: "font-size: 0.8rem"}
          - if params[:tech] == tech.id.to_s
            %a.nav-link.text-white.bg-secondary.active.p-1
              = tech.name
          - else
            %a.nav-link.text-dark.p-1{href: "/recipe/list?style=#{params[:style]}&tech=#{tech.id}&alcohol=#{params[:alcohol]}&material_mode=#{params[:material_mode]}&choice_materials=#{@choice_materials.join(',')}"}
              = tech.name

    %ul.nav.nav-pills.nav-fill.my-1
      %li.nav-item{style: "font-size: 0.8rem"}
        - if params[:alcohol] == '0'
          %a.nav-link.text-white.bg-secondary.active.p-1 全て
        - else
          %a.nav-link.text-dark.p-1{href: "/recipe/list?style=#{params[:style]}&tech=#{params[:tech]}&alcohol=0&material_mode=#{params[:material_mode]}&choice_materials=#{@choice_materials.join(',')}"} 全て
      - @alcohols.each do |alcohol|
        %li.nav-item{style: "font-size: 0.8rem"}
          - if params[:alcohol] == alcohol.id.to_s
            %a.nav-link.text-white.bg-secondary.active.p-1
              = alcohol.name
          - else
            %a.nav-link.text-dark.p-1{href: "/recipe/list?style=#{params[:style]}&tech=#{params[:tech]}&alcohol=#{alcohol.id}&material_mode=#{params[:material_mode]}&choice_materials=#{@choice_materials.join(',')}"}
              = alcohol.name
    
    %button.btn.btn-secondary.btn-sm.btn-block.my-3{"type": "button", "data-toggle": "collapse", "data-target": "#materials"} 
      <i class="fas fa-chevron-circle-down"></i>　Materials　<i class="fas fa-chevron-circle-down"></i>
    
    - if params[:open_material]
      .collapse.show#materials{style: "font-size: 1.2rem"}
        %ul.nav.nav-pills.nav-justified.my-1
          %li.nav-item{style: "font-size: 0.8rem"}
            - if params[:material_mode] == '0'
              %a.nav-link.text-white.bg-secondary.active.p-1 この材料でできる
            - else
              %a.nav-link.text-dark.p-1{href: "/recipe/list?style=#{params[:style]}&tech=#{params[:tech]}&alcohol=0&material_mode=0&choice_materials=#{@choice_materials.join(',')}&open_material=1"} この材料でできる
          %li.nav-item{style: "font-size: 0.8rem"}
            - if params[:material_mode] == '1'
              %a.nav-link.text-white.bg-secondary.active.p-1 この材料を含む
            - else
              %a.nav-link.text-dark.p-1{href: "/recipe/list?style=#{params[:style]}&tech=#{params[:tech]}&alcohol=0&material_mode=1&choice_materials=#{@choice_materials.join(',')}&open_material=1"} この材料を含む
        
        %a.badge.badge-pill.badge-secondary.text-light{href: "/recipe/list?style=#{params[:style]}&tech=#{params[:tech]}&alcohol=#{params[:alcohol]}&material=99999&material_mode=#{params[:material_mode]}&choice_materials=#{@choice_materials.join(',')}&open_material=1"}
          全て選択
        - @materials.each do |material|
          - if @choice_materials.find { |id| id == material.id.to_s }
            %a.badge.badge-pill.badge-secondary.text-light{href: "/recipe/list?style=#{params[:style]}&tech=#{params[:tech]}&alcohol=#{params[:alcohol]}&material=#{material.id}&material_mode=#{params[:material_mode]}&choice_materials=#{@choice_materials.join(',')}&open_material=1"}
              = material.name
          - else
            %a.badge.badge-pill.badge-light.text-secondary{href: "/recipe/list?style=#{params[:style]}&tech=#{params[:tech]}&alcohol=#{params[:alcohol]}&material=#{material.id}&material_mode=#{params[:material_mode]}&choice_materials=#{@choice_materials.join(',')}&open_material=1"}
              = material.name
        %a.badge.badge-pill.badge-light.text-secondary{href: "/recipe/list?style=#{params[:style]}&tech=#{params[:tech]}&alcohol=#{params[:alcohol]}&material=-1&material_mode=#{params[:material_mode]}&choice_materials=#{@choice_materials.join(',')}&open_material=1"}
          全て解除

    - else
      .collapse#materials{style: "font-size: 1.2rem"}
        %ul.nav.nav-pills.nav-justified.my-1
          %li.nav-item{style: "font-size: 0.8rem"}
            - if params[:material_mode] == '0'
              %a.nav-link.text-white.bg-secondary.active.p-1 この材料でできる
            - else
              %a.nav-link.text-dark.p-1{href: "/recipe/list?style=#{params[:style]}&tech=#{params[:tech]}&alcohol=0&material_mode=0&choice_materials=#{@choice_materials.join(',')}&open_material=1"} この材料でできる
          %li.nav-item{style: "font-size: 0.8rem"}
            - if params[:material_mode] == '1'
              %a.nav-link.text-white.bg-secondary.active.p-1 この材料を含む
            - else
              %a.nav-link.text-dark.p-1{href: "/recipe/list?style=#{params[:style]}&tech=#{params[:tech]}&alcohol=0&material_mode=1&choice_materials=#{@choice_materials.join(',')}&open_material=1"} この材料を含む

        %a.badge.badge-pill.badge-secondary.text-light{href: "/recipe/list?style=#{params[:style]}&tech=#{params[:tech]}&alcohol=#{params[:alcohol]}&material=99999&material_mode=#{params[:material_mode]}&choice_materials=#{@choice_materials.join(',')}&open_material=1"}
          全て選択
        - @materials.each do |material|
          - if @choice_materials.find { |id| id == material.id.to_s }
            %a.badge.badge-pill.badge-secondary.text-light{href: "/recipe/list?style=#{params[:style]}&tech=#{params[:tech]}&alcohol=#{params[:alcohol]}&material=#{material.id}&material_mode=#{params[:material_mode]}&choice_materials=#{@choice_materials.join(',')}&open_material=1"}
              = material.name
          - else
            %a.badge.badge-pill.badge-light.text-secondary{href: "/recipe/list?style=#{params[:style]}&tech=#{params[:tech]}&alcohol=#{params[:alcohol]}&material=#{material.id}&material_mode=#{params[:material_mode]}&choice_materials=#{@choice_materials.join(',')}&open_material=1"}
              = material.name
        %a.badge.badge-pill.badge-light.text-secondary{href: "/recipe/list?style=#{params[:style]}&tech=#{params[:tech]}&alcohol=#{params[:alcohol]}&material=-1&material_mode=#{params[:material_mode]}&choice_materials=#{@choice_materials.join(',')}&open_material=1"}
          全て解除
  
  %ul.list-group.my-3
    %p.list-group-item
      %span.text-dark.font-weight-bold
        カクテル名
      %br
      %span.badge.badge-pill.badge-light.text-secondary
        スタイル
      %span.badge.badge-pill.badge-light.text-secondary
        技法
      %span.badge.badge-pill.badge-light.text-secondary
        アルコール
  %ul.list-group  
    - @recipes.each do |r|
      %a.list-group-item{href: "/recipe/detail/#{r[:id]}"}
        %span.text-dark.font-weight-bold
          = r[:name]
        %br
        %span.badge.badge-pill.badge-light.text-secondary
          = r[:style]
        %span.badge.badge-pill.badge-light.text-secondary
          = r[:tech]
        %span.badge.badge-pill.badge-light.text-secondary
          = r[:alcohol]