%h1 カクテルリスト

%ul.list-group
  %p.list-group-item
    %span
      カクテル名
    %br
    %span.text-muted.small
      = "スタイル　技法　アルコール"
  %hr
  - @can_recipes.each do |r|
    %p.list-group-item
      %span
        = r[:name]
      %br
      %span.text-muted.small
        = "#{r[:style]}　#{r[:tech]}　#{r[:alcohol]}"