.m-3
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light.my-3
    %h4
      = @material_detail.name

  %table.table.m-0
    %tr
      %th 在庫
      %th
        - if @material_detail.have_flag
          あり
        - else
          なし
    %tr
      %th カテゴリー
      %th
        - if @material_detail.alcohol_flag
          %i.fa.fa-wine-glass-alt.text-dark
          アルコール
        - else
          ノンアルコール
  %hr.mt-0

  %p.font-weight-bold.mb-1 使うレシピ
  %hr.mt-0

  %ul.list-group
    - @recipes.each do |r|
      %a.list-group-item{href: "/recipes/detail/#{r[:id]}"}
        .d-flex.align-items-center
          %span.text-dark.font-weight-bold
            = r[:name]
          - if not r[:assessment].nil?
            %span.badge.badge-pill.badge-secondary.ml-1
              = r[:assessment]
        %span.badge.badge-pill.badge-light.text-secondary
          = r[:base]
        %span.badge.badge-pill.badge-light.text-secondary
          = r[:style]
        %span.badge.badge-pill.badge-light.text-secondary
          = r[:tech]
        %span.badge.badge-pill.badge-light.text-secondary
          = r[:alcohol]